<?php
/*
 * This file is a part of Simpliest Pastebin.
 *
 * Copyright 2009-2018 the original author or authors.
 *
 * Licensed under the terms of the MIT License.
 * See the MIT for details (https://opensource.org/licenses/MIT).
 *
 */

if (ISINCLUDED != '1') {
    die('ACCESS DENIED!');
}

/* Config, please read and edit very carefully. */
$SPB_CONFIG = array(

// Name of the data storage directory
    'storage' => 'data',

// Maximum depth of folder structure
// Example, 2 would be './data/a/b' for the post id 'abcde'
// 3 would be './data/a/b/c' for the post id 'abcde'. Leave if you are unsure!
// Note this will always default to be AT LEAST 1.
// NEVER CHANGE THIS ONCE INSTALLED!!!
    'max_folder_depth' => 1,

// Pastebin title, FALSE value uses the default 'Pastebin on ' . $_SERVER['SERVER_NAME']
    'title' => FALSE,
#    'title' => 'Simpliest Pastebin',

// Pastebin tagline (Message under the name/title), FALSE leaves this blank
    'tagline' => FALSE,
#    'tagline' => 'Some very imporant message.',

// Hashing algorithm, (Default: SHA256)
// For a full list, consult the function hash_algos();
    'algo' => 'sha256',

// Pastebin admin password, strong one is mucho recommended!
// If a plaintext password is acceptable then use the following
    'password' => hash('sha256', 'password'),
// Storing plaintext passwords is not recommended.
// You should consider a hashed password using the algorithm chosen above
// Example:
//   echo hash('sha256', 'password') . "\n";
// Then insert the output into the variable below and uncomment
#    'password' => '5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8',

// Pastebin salts, 4 sequences of random letters and numbers!
// Please make them at least 6 characters or more!
    'salts' => array(

        'str001',
        'str002',
        'str003',
        'str004'

    ),

// Apache/IIS Rewrite enabled? Needs to be like
// https://example.com/id forwards to https://example.com/index.php?i=id or
// https://example.com/dir/id forwards to https://example.com/dir/index.php?i=id
// TRUE or FALSE
    'rewrite_enabled' => FALSE,

// Enable GZip compression (zlib extension is needed)
    'gzip_content' => FALSE,

// Starting ID length, when IDs have run out the script will automatically increment this
// Number. Default is 16
    'id_length' => 16,

// Hexlike IDs (only uses numbers 0-9, letters a-f)
    'hexlike_ids' => FALSE,

// Layout theme
    'theme' => 'default',

// URL of the Pastebin stylesheet (one can use own)
    'stylesheet' => 'css/default/main.css',

// Enable Line Highlighting
// Looks for a 2-6 character long highlight string, FALSE for Disabled.
    'line_highlight' => FALSE,
//    'line_highlight' => '@@',

// Date Format (see PHP.net's entry on date();)
    'datetime_format' => 'Y-m-d H:i:s',

// Auto cleanup of posts that have expired?
    'autoclean' => FALSE,

// Number of Recent posts to display, FALSE for none!
// This number also controls the Autoclean.
    'recent_posts' => FALSE,
#    'recent_posts' => 10,

// Allow editing of posts? (TRUE or FALSE)
    'editing' => FALSE,

// Maximum post size in Bytes
    'max_bytes' => 524288,

// Default Author Name
    'author' => 'Anonymous',

// Store a cookie for the authors name? (FALSE or time in seconds)
// eg. 3600 == 1 hour, 86400 == 1 day
    'author_cookie' => FALSE,
#    'author_cookie' => 3600,

// Post lifespan (age in days), array for multiple, FALSE for no expiry.
// first commented out option is 1 week, 10 minutes, 1 hour, 1 day, 1 month, and 1 year.
// second commented out option is 1 week
    'lifespan' => FALSE,
#    'lifespan' => array(7, 1/24/6, 1/24, 1/24, 1, 30, 365),
#    'lifespan' => array(7),

// Enables Private Posting (TRUE or FALSE)
    'private' => FALSE,

// Localization (FALSE or valid locale name)
    'locale' => FALSE,
#    'locale' => 'en',

// Protocol (one can use autodetection or hard encode a needed value)
    'protocol' => (strtolower(@$_SERVER['HTTPS']) == 'on') ? 'https' : 'http',
#    'protocol' => 'https',

// Timezone (default: UTC)
    'timezone' => 'UTC',
);
