<?php
/*
 * This file is a part of Simpliest Pastebin.
 *
 * Copyright 2009-2018 the original author or authors.
 *
 * Licensed under the terms of the MIT License.
 * See the MIT for details (https://opensource.org/licenses/MIT).
 *
 */

if (ISINCLUDED != '1') {
    die('ACCESS DENIED!');
}

// Config, please read and edit very carefully
$SPB_CONFIG = array(

// Path to data storage directory
    'storage' => 'data',

// Maximum depth of folder structure
// eg., 2 would be 'data/a/b' for the post id 'abcde',
// 3 would be 'data/a/b/c' for the post id 'abcde'
    'max_folder_depth' => 1,

// Pastebin title
// use FALSE value for default title of 'Pastebin on ' . $_SERVER['SERVER_NAME']
    'title' => FALSE,
#    'title' => 'Simpliest Pastebin',

// Pastebin tagline (message under the name/title)
// Use FALSE value to hide the tagline
    'tagline' => FALSE,
#    'tagline' => 'Some very imporant message.',

// Hashing algorithm, (Default: SHA256)
// For a full list, consult the function hash_algos()
    'algo' => 'sha256',

// Pastebin admin password
// If a plaintext password is acceptable then use the following
// However, storing plaintext passwords is strongly unrecommended
    'password' => hash('sha256', 'password'),

// Pastebin salts, 4 sequences of random letters and numbers
// Please make them at least 6 characters or more
    'salts' => array(
        'str001',
        'str002',
        'str003',
        'str004'
    ),

// Flag to tell Pastebin that Apache/IIS rewrite rules are enabled
// https://example.com/id forwards to https://example.com/index.php?i=id or
// https://example.com/dir/id forwards to https://example.com/dir/index.php?i=id
// TRUE or FALSE
    'rewrite_enabled' => FALSE,

// Enable GZip compression (zlib extension is needed)
    'gzip_content' => FALSE,

// Initial ID length, when IDs have run out Pastebin will automatically
// increment this value
    'id_length' => 16,

// Hexlike IDs (Pastebin will only use [0-9a-f] for IDs)
    'hexlike_ids' => FALSE,

// Layout theme
// (templates for a theme should be placed in templates/<theme name>/)
    'theme' => 'default',

// URL of the Pastebin stylesheet (one can use own)
    'stylesheet' => 'css/default/main.css',

// Enable line highlighting
// Looks for a 2-6 character long highlight string,
// use FALSE to disable this feature
    'line_highlight' => FALSE,
//    'line_highlight' => '@@',

// Date format (see PHP documentation on date() function)
    'datetime_format' => 'Y-m-d H:i:s',

// Auto cleanup of expired posts
    'autoclean' => FALSE,

// Number of recent posts to display,
// Use FALSE to not display posts at all
// This number also controls the autoclean feature
    'recent_posts' => FALSE,
#    'recent_posts' => 10,

// Allow creation of derivative posts (TRUE or FALSE)
    'editing' => FALSE,

// Maximum post size in bytes
    'max_bytes' => 524288,

// Default author name
    'author' => 'Anonymous',

// Store a cookie for the authors name? (FALSE or time in seconds)
// eg., 3600 == 1 hour, 86400 == 1 day
    'author_cookie' => FALSE,
#    'author_cookie' => 3600,

// Post lifespan (age in days), array for multiple, FALSE for no expiry
// first commented out option is 1 week, 10 minutes, 1 hour, 1 day, 1 month, and 1 year
// second commented out option is 1 week
    'lifespan' => FALSE,
#    'lifespan' => array(7, 1/24/6, 1/24, 1/24, 1, 30, 365),
#    'lifespan' => array(7),

// Enables private posting (TRUE or FALSE)
// Private posts are not shown in recent posts
    'private' => FALSE,

// Localization (FALSE or valid locale name)
    'locale' => FALSE,
#    'locale' => 'en',

// Protocol (one can use autodetection or hard encode a needed value)
    'protocol' => (strtolower(@$_SERVER['HTTPS']) == 'on') ? 'https' : 'http',
#    'protocol' => 'https',

// Timezone (default: UTC)
    'timezone' => 'UTC',

// System-based hooks for operations with posts
    'hooks' => FALSE,
#    'hooks' => array(
#        'read_before'   => '/bin/true',
#        'read_after'    => '/bin/true',
#        'create_before' => '/bin/true',
#        'create_after'  => '/bin/true',
#        'delete_before' => '/bin/true',
#        'delete_after'  => '/bin/true',
#    ),
);
